$heightToday: 329;
//------------------------------------------
@mixin circleGranient($rl, $top, $left, $bt, $lr) {
	position: absolute;
	background-image: linear-gradient(to #{$rl}, #f95b5b, #591cc3 30%);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: radial-gradient(circle at 25% 50%, transparent 10%, $bgdGrad 15%);
		background-size: 12.5px 25px;
	}
	&::after {
		content: "";
		position: absolute;
		top: $top;
		left: $left;

		width: 120%;
		height: 120%;
		background-image: linear-gradient(to #{$bt}, $bgdGrad 20%, transparent 30%),
			linear-gradient(to #{$lr}, $bgdGrad, transparent);
	}
}
//--------------------------------------
.today {
	flex: 1 1 auto;
	max-height: $heightToday + px;
	background: $bgdGrad;
	display: flex;
	flex-direction: column;
	position: relative;
	@media (max-width: $md2+px) {
		max-height: none;
	}

	&__gradient-block {
		position: absolute;
		width: 310 / $maxWidth * 100%;
		height: 179 / $heightToday * 100%;

		&_left {
			top: 100%;
			transform: translateY(-100%);
			left: 0;
			@include circleGranient(right, -20%, 0, bottom, left);
		}

		&_richt {
			top: 0;
			left: 100%;
			transform: translateX(-100%);
			@include circleGranient(left, 0, -20%, top, right);
		}
	}

	&__container {
		width: 453px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $md4+px) {
			width: 300px;
		}
	}
	&__title {
		padding: 93px 0px 45px 0px;
		color: $textMainLight;
		text-align: center;
		z-index: 5;
	}

	&__form {
		width: 100%;
		height: 45px;
		display: flex;
		margin: 0px 0px 107px 0px;
		z-index: 5;
	}
}
