.what {
	flex: 1 1 auto;
	max-height: 846px;
	@media (max-width: $md2+px) {
		max-height: none;
	}

	&__container {
		padding: 0px 117px;
		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 0px;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		padding: 94px 0px 65px 0px;
		text-align: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 100px;
		row-gap: 85px;
		padding: 0px 0px 220px 0px;
		@media (max-width: $md2+px) {
			display: flex;
			flex-direction: column;
			padding: 0px 0px 85px 0px;
		}
	}

	&__article {
	}
}

.article-img {
	&__img--what {
		padding: 0px 0px 13px 0px;
	}

	&__title--what {
		text-align: center;
		line-height: 237%;
	}

	&__text--what {
		line-height: 147%;
		color: $textSecondDark;
	}
}
