// Миксины---------------------------------------------------------

// Миксины---------------------------------------------------------
@import "_mixins.scss";

// подключаем шрифт-----------------------------------------------------------------
@import "fonts";
// подключаем шрифт-----------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700,900);
//Шрифт по умолчанию----------------------------------------------------------------
$fontfamily: "Roboto";
//Шрифт 2----------------------------------------------------------------

//Переменные цвет---------------------------------------------------------------
$textMainDark: #000;
$textMainLight: #fff;
$textSecondDark: #1c1c1c;
$textSecondBlue: #6f2cff;

$lineColor: #e0e0e0;

$bgdCard: #17002e;
$bgdFooter: #20003c;
$bgdLight: #fff;
$bgdGray: #f5f5f5;

$bgdGrad: #230042;

// Переменные стиль трансформации
$transform-in: all 0.1s ease-in 0s;
$transform-out: all 0.1s ease-out 0s;

//минимальная ширина--------------------------------------------------
$minWidth: 320px;
$maxWidth: 1440; //без px
$maxWidthContainer: 1240; //без px
$md1: $maxWidthContainer + 12; //без px
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// Переменные размер------------------------------------------------------------

//обнуление-css, общие параменты--------------------------------------------------------------------
@import "_resetnull.scss";

body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//обнуление-css--------------------------------------------------------------------
// обертка-----------------------------------------------------
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	color: $textMainDark;

	// Основная сетка---------------------------------------------------
}
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//свойсва .ibg -делаем из картинки фон------------------------------------------
@import "_ibg.scss";
//подключаем header-------------------------------------------------------------------
@import "_header.scss";
//подключение chief slider-------------------------------------------------------------------
@import "_chief-slider.scss";
//------------------------------------------------------
@import "_main.scss";
@import "_brands.scss";
@import "_grow.scss";
@import "_commerce.scss";
@import "_power.scss";
@import "_what.scss";
@import "_slider.scss";
@import "_industry.scss";
@import "_ecosystem.scss";
@import "_today.scss";

//------------------------------------------------------------------
//подключаем footer------------------------------------------------
@import "_footer.scss";
//-------------------------------------------------------------------
//------------------------------------------------------------------
